* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid grey; */
}

.name-header {
  display: flex;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-shadow: 2px solid #1A6B7F;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 2rem;
}

.nav-menu a:visited {
  color: #1A6B7F;
}

.home-button {
  padding: 0 1rem 0 0;
}

.project-button {
  padding: 0 1rem 0 0;
}

.resume-button {

}

/*index page styling below*/

.about-me {
  padding: 2rem;
  justify-content: center;
}

.intro {
  display: block;
  padding: 1rem;
  text-align: center;
}

.job-title {
  padding: 2rem 0 2rem 0;
}

.intro-paragraph {

}

.yifaa-pic {
  height: 300px;
  border: .25rem ridge grey;
}

.yifaa-footer {
  display: flex;
  padding: 5rem 1rem 5rem 1rem;
  justify-content: space-between;
  /* align-content: center; */
  align-items: top;
}

.social-icons a:visited {
  color: #1A6B7F
}

.social-icons {
  display: flex;
  flex-direction: column;
  text-align: right;
  list-style-type: none;
}

.yifaa-address {
  font-style: normal;
}

.contact-header {
 line-height: 2rem;
 font-style: normal;
}

.address-info {
  /* line-height: 1.25rem; */
  /* padding: 0 0 0 1rem; */
}

/*Start Project page code here*/

